<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">Bootsteam Theme</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-area">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-area">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span id="current-theme"></span> <span class="d-md-none">Switch Themes</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button type="button" class="dropdown-item" data-bs-theme-value="light"><span class="mdi mdi-weather-sunny"></span> Light</button>
                        <button type="button" class="dropdown-item" data-bs-theme-value="dark"><span class="mdi mdi-weather-night"></span> Dark</button>
                        <button type="button" class="dropdown-item" data-bs-theme-value="auto"><span class="mdi mdi-theme-light-dark"></span> Auto</button>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/StrutTower/bootsteam-theme" rel="noreferrer noopener" class="nav-link">
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>