///<reference path="variables.scss" />
///<reference path="../node_modules/bootstrap/scss/bootstrap.scss" />

// Alerts

.alert {
    color: white;

    &.alert-primary {
        background: $primary;
        border-color: darken($primary, 5);
    }

    &.alert-secondary {
        background: $secondary;
        border-color: darken($secondary, 5);
    }

    &.alert-success {
        background: $success;
        border-color: darken($success, 5);
    }

    &.alert-info {
        background: $info;
        border-color: darken($info, 5);
    }

    &.alert-warning {
        background: $warning;
        border-color: darken($warning, 5);
    }

    &.alert-danger {
        background: $danger;
        border-color: darken($danger, 5);
    }

    &.alert-light {
        color: #555;
        background: $light;
        border-color: darken($light, 5);
    }

    &.alert-dark {
        background: $dark;
        border-color: darken($dark, 5);
    }
}

.table {
    .table-primary {
        th, td {
            background: $primary;
        }

        &:hover {
            th, td {
                background: darken($primary, 10);
            }
        }
    }

    .table-secondary {
        th, td {
            background: $secondary;
        }

        &:hover {
            th, td {
                background: darken($secondary, 10);
            }
        }
    }

    .table-success {
        th, td {
            background: $success;
        }

        &:hover {
            th, td {
                background: darken($success, 10);
            }
        }
    }

    .table-danger {
        th, td {
            background: $danger;
        }

        &:hover {
            th, td {
                background: darken($danger, 10);
            }
        }
    }

    .table-warning {
        th, td {
            background: $warning;
        }

        &:hover {
            th, td {
                background: darken($warning, 10);
            }
        }
    }

    .table-info {
        th, td {
            background: $info;
        }

        &:hover {
            th, td {
                background: darken($info, 10);
            }
        }
    }

    .table-light {
        th, td {
            color: $gray-800;
            background: $light;
        }

        &:hover {
            th, td {
                background: darken($light, 10);
            }
        }
    }

    .table-dark {
        th, td {
            background: $dark;
        }

        &:hover {
            th, td {
                background: darken($dark, 10);
            }
        }
    }
}

.navbar.bg-primary .form-control {
    background: darken($primary, 15);
}
.navbar.bg-info .form-control {
    background: darken($info, 15);
}
.navbar.bg-warning .form-control {
    background: darken($warning, 15);
}
.navbar.bg-danger .form-control {
    background: darken($danger, 15);
}
.navbar.bg-light .form-control {
    color: $gray-900;
    background: darken($light, 15);
    border-color: darken($light, 25);

    &:focus {
        border-color: darken($light, 35);
    }
}
.navbar.bg-dark .form-control {
    background: darken($dark, 5);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: $body-color;
}

.carousel-indicators li {
    border-radius: 2px;
    cursor: pointer;
}

.bg-light {
    color: $gray-800;
}

hr {
    border-top-color: $twr-border-color;
}
