/*.btn-success, .btn-info, .btn-warning, .btn-danger {
    color: #fff;
}

.btn.disabled, .btn:disabled {
    color: #fff;
}*/

.btn-success, .btn-info, .btn-warning, .btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-active-color: #fff;
}

.btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}

.text-bg-success, .text-bg-danger, .text-bg-warning, .text-bg-info, .bg-warning {
    color: #fff !important;
}