
// Custom Variables
$twr-dark-content-bg: #16202D !default;
$twr-darker-bg: #171a21 !default;

$twr-input-bg: #2A3F5A !default;

$twr-border-color: lighten(#434346, 5) !default;


// Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #417a9b !default;
$secondary: darken(#868e96, 15) !default;
$success: darken(#a4d007, 10) !default;
$info: darken(#56ccb3, 15) !default;
$warning: #d5702c !default;
$danger: #dc3b36 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;

$border-radius: 2px !default;


// Body
$body-bg: #1b2838 !default;
$body-color: #c6d4df !default;

// Tables
$table-border-color: $gray-700 !default;

$table-dark-bg: $twr-dark-content-bg !default;
$table-dark-color: $gray-300 !default;

// Buttons

// Forms
$input-bg: $twr-input-bg !default;
$input-disabled-bg: desaturate(darken($twr-input-bg, 5), 5) !default;

$input-color: $body-color !default;
$input-border-color: $twr-border-color !default;

$input-placeholder-color: darken($gray-600, 5) !default;

$input-group-addon-bg: darken($input-bg, 5) !default;

// Dropdowns
$dropdown-bg: $twr-dark-content-bg !default;
$dropdown-divider-bg: $twr-border-color !default;

$dropdown-link-color: $gray-100 !default;
$dropdown-link-hover-color: lighten($dropdown-link-color, 5%) !default;
$dropdown-link-hover-bg: lighten($twr-dark-content-bg, 2) !default;

// Navs
/*$nav-link-padding-y: .2rem !default;*/

$nav-tabs-border-color: $twr-border-color !default;
$nav-tabs-link-hover-color: $body-color !default;
$nav-tabs-link-hover-border-color: transparent transparent $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-300;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $twr-border-color $twr-border-color $nav-tabs-link-active-bg !default;

// Navbar
$navbar-padding-y: .2rem !default;

// Pagination
$pagination-color: $body-color !default;
$pagination-bg: $primary !default;
$pagination-border-color: $primary !default;

$pagination-hover-color: lighten($pagination-color, 5) !default;
$pagination-hover-bg: lighten($primary, 5) !default;
$pagination-hover-border-color: $pagination-hover-bg !default;

// Jumbotron
$jumbotron-bg: $twr-dark-content-bg !default;


// Cards
$card-border-color: darken($twr-border-color, 10) !default;
$card-bg: $twr-dark-content-bg !default;


// Tooltips


// Popovers
$popover-bg: $twr-dark-content-bg !default;
$popover-border-color: $table-border-color !default;

$popover-header-bg: lighten($popover-bg, 3%) !default;

// Modals
$modal-content-bg: $body-bg !default;
$modal-header-border-color: darken($twr-border-color, 5) !default;



// Progress bars
$progress-bg: $twr-dark-content-bg !default;

// List group
$list-group-bg: $twr-dark-content-bg !default;
$list-group-border-color: darken($twr-border-color, 10) !default;

$list-group-hover-bg: lighten($twr-dark-content-bg, 5) !default;

$list-group-action-color: $body-color !default;
$list-group-action-hover-color: $white !default;


// Breadcrumbs
$breadcrumb-bg: $twr-dark-content-bg !default;


// Carousel
$carousel-indicator-width: 15px !default;
$carousel-indicator-height: 9px !default;
$carousel-indicator-spacer: 3px !default;
$carousel-indicator-active-bg: $white !default;

// Close
$close-color: $white !default;
$close-text-shadow: 0 1px 0 $black !default;

// Code

$kbd-bg: darken($gray-900, 8) !default;

$pre-color: $gray-100 !default;